body {
	background-color: #F2967D;
	margin: 0;
	padding: 0;
}

img {
	height: 100%;
	width: 100%;
}

#footer {
	color: black;
}

p {
    text-align: left;
}

h1 {
    text-align: center;
}

code, pre {
    text-align: left;
}

/*
==========================
NAVBAR CSS
==========================
*/

#navbar {
	width: 100%;
	height: 64px;
	text-align: center;
	background-color: #F7FFE0;
	box-shadow: 15px 0px 10px #303030;
}

.nav-item {
	border-radius: 100%;
	background-color: white;
	float:	left;
	height: 100%;
	width: 64px;
	margin-right: 1%;
	box-shadow: 0px 0px 10px #303030;
	overflow: hidden;
}

.nav-item:active {
	box-shadow: 0 0 0 #000000;
}

.nav-item:hover {
	color: white;
}

#first-nav {
	margin-left: 34%;
}

#linkedin-pic {
	height: 66px;
	width: 66px;
	position: relative;
	top: -1;
	left: -1;
}


/*
==========================
SITE HEADERS
==========================
*/

#title-bar {
	width: 100%;
	height: 14em;
	text-align: left;
	color: white;
	font-family: "Sans";
	background-color: #25C3FF;
}

#chasing-logic {
	font-size: 7em;
}

#subtitle {
	font-size: 2em;
}

/*
=========================
SITE CONTENT
=========================
*/

/*HOLDS POSTS IN PLACE*/
#content {
	width: 95%;
	text-align: center;
	float: left;
	margin: auto;
	margin-left: 2%;
}

/*THIS IS FOR THE POSTS THEMSELVES*/
.posts {
	width: 50%;
	margin: auto;
	margin-top: 1%;
	box-shadow: 0px 0px 10px #303030;
	border-radius: 10px;
	background-color: white;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.header-wrapper {
	width: 100%;
	height: 5em;
}

.body {
	font-family: "Sans";
	font-size: 1em;
}

.post-header {
	float: left;
	width: 100%;
	margin: auto;
	margin-left: 1%;
	font-family: "Sans";
	font-style: bold;
	font-size: 3em
}

.date {
	border-radius: 100%;
	background-color: black;
	height: 5em;
	width: 5em;
	color: white;
	margin-left: 49%;
	margin-right: 1%;
	margin-top: 1%;
	position: absolute;
	box-shadow: 0px 0px 10px #303030;
}

.date-text-padding {
    margin-top: 2em;
}

#text-padding {
	margin: auto;
	width: 90%;
}
